.article__title {
    font-family: 'Montserrat', sans-serif; /*альтернативный шрифт без засечек*/;
  }
  
  .article__content {
    font-family: 'Montserrat', sans-serif;/*альтернативный шрифт без засечек*/;
  }
  
  span {
    font-family: 'IBM Plex Serif', serif;/*альтернативный шрифт с засечками*/;
  }
  